.contactSection {
  padding:  80px 16px;
  display: flex;
  justify-content: center;
}

.contactContainer {
  width: 100%;
  max-width: 500px;
}

.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 24px;
  color: #ffe6f0;
}

.parWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-bottom: 24px;
}

.subtitle {
  text-align: center;
  opacity: 0.7;
  color: rgba(255, 230, 240, 0.75);
  font-size: 18px;
}

/* FORM */

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* INPUT */

.inputGroup {
  position: relative;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 14px;
  background: rgba(20, 5, 15, 0.35); /* напіввишневий */
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 210, 230, 0.8);
  box-shadow: 0 10px 20px rgba(211, 70, 129, 0.4);
  border-radius: 10px;
  color: #ffe6f0;
  outline: none;
  transition: 0.3s;
}

/* LABEL */

.inputGroup label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #ff9fc6;
  pointer-events: none;
  transition: 0.3s;
}

.inputGroup textarea {
  resize: none;
  overflow-y: auto;
}

.inputGroup textarea + label {
  top: 20px;
  transform: none;
}

/* FOCUS */

.inputGroup input:focus,
.inputGroup textarea:focus {
  border-color: #ffe6f0;
  box-shadow: 0 0 10px rgba(211, 70, 129, 0.4);
}

/* FLOAT LABEL */

.inputGroup input:focus + label,
.inputGroup input:not(:placeholder-shown) + label {
  top: -8px;
  left: 10px;
  font-size: 12px;
  background: #111;
  padding: 0 5px;
}

.inputGroup textarea:focus + label,
.inputGroup textarea:not(:placeholder-shown) + label {
  top: -8px;
  left: 10px;
  font-size: 12px;
  background: #111;
  padding: 0 5px;
}

.inputError {
  border-color: #ff4d6d !important;
  box-shadow: 0 0 10px rgba(255, 77, 109, 0.4);
}

.error {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  color: #ff4d6d;
}

/* BUTTON */

.button {
  padding: 14px;
  border: 1px solid #d66ec3;
  border-radius: 12px;
  background: linear-gradient(135deg, #4c2755, #d66ec3);
  color: #fff !important;
  text-shadow: 0 0 8px rgba(255, 159, 198, 0.4);
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(215, 126, 215, 0.4);
}

.button:active {
  transform: scale(0.98);
}

.button:disabled {
  background: linear-gradient(135deg, #682068, #76405d);
  color: #fff;
  opacity: 0.7;
  cursor: not-allowed;
  box-shadow: none;
}

/* SUCCESS */

.success {
  margin-top: 20px;
  text-align: center;
  color: #d34681;
}

@media (min-width: 768px) {
  .contactSection {
    padding: 100px 40px;
  }

  .contactContainer {
    max-width: 500px;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 20px;
  }

  .form {
    gap: 18px;
  }

  .inputGroup input,
  .inputGroup textarea {
    padding: 14px;
    font-size: 15px;
  }

  .button {
    font-size: 17px;
  }
}

@media (min-width: 1280px) {
  .contactSection {
    padding: 90px 40px 60px 40px;
  }

  .title {
    font-size: 44px;
  }

  .subtitle {
    font-size: 22px;
  }

  .form {
    gap: 20px;
  }

  .button {
    font-size: 18px;
  }
}