.about {
  scroll-margin-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 100%;
  max-width: 1440px;
  padding: 16px;
}
  
.aboutCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #ffe6f0;
}

.aboutCard h2 {
  font-size: 28px;
  margin-bottom: 24px;
}

.aboutCard h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.name {
  background: linear-gradient(135deg, #bc45bc, #ffb3d1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutCard p {
  font-size: 14px;
  line-height: 1.5;
  color: rgba(255, 230, 240, 0.75);
}

.tech {
  font-weight: bold;
  color: #ffb3d1;
  margin-right: 8px;
}

.softSkills {
  margin-top: 12px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.softSkills span {
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 999px;

  background: rgba(255, 92, 147, 0.1);
  border: 1px solid rgba(255, 180, 210, 0.2);
  color: #ffb3d1;
}

.imgWrapper {
  margin-top: 16px;
}

.imgAbout {
  width: 260px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

@media (min-width: 480px) {
  .about {
    padding: 20px;
  }

  .aboutCard h2 {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .aboutCard h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .aboutCard p {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .about {
    padding: 30px;
  }

  .aboutCard h2 {
    font-size: 36px;
    margin-bottom: 18px;
  }

  .aboutCard h3 {
    font-size: 26px;
    margin-bottom: 18px;
  }

  .aboutCard p {
    font-size: 18px;
  }

  .softSkills span {
    font-size: 14px;
    padding: 8px 14px;
  }
}

@media (min-width: 1024px) {
  .about {
    scroll-margin-top: 60px;

    max-width: 1440px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 80px;
    border-radius: 54px;
  }

  .aboutCard {
    max-width: 900px;
  }

  .aboutCard h2 {
    font-size: 44px;
    margin-bottom: 24px;
  }

  .aboutCard h3 {
    font-size: 36px;
    margin-bottom: 24px;

  }

  .softSkills {
    justify-content: flex-start;
    margin-top: 28px;
  }

  .imgWrapper {
    margin-top: 0;
  }

  .imgAbout {
    width: 300px;
  }
}





/*.about {
  scroll-margin-top: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 40px;
  width: 94.5%;
  padding: 40px;
  z-index: 2;

  background: rgba(20, 5, 15, 0.35); /* напіввишневий 
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 210, 230, 0.8);
  box-shadow: 0 20px 40px rgba(211, 70, 129, 0.3);
  border-radius: 54px;
}

.aboutCard {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #ffe6f0;
}

.aboutCard h2 {
  margin-bottom: 16px;
  font-size: 44px;
  color: #ffe6f0;
}

.aboutCard h3 {
  margin-bottom: 16px;
  font-size: 36px;
  color: #ffb3d1;
}

.name {
  background: linear-gradient(135deg, #6a1b6a, #d34681);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tech {
  font-weight: bold;
  color: #ffb3d1;
  margin-right: 8px;
}

.aboutCard p {
  color: rgba(255, 230, 240, 0.75);
  font-size: 20px;
  line-height: 1.6;
}

.softSkills {
  margin-top: 16px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.softSkills span {
  padding: 12px 20px;
  border-radius: 999px;

  background: rgba(255, 92, 147, 0.1);
  border: 1px solid rgba(255, 180, 210, 0.2);

  font-size: 18px;
  color: #ffb3d1;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.imgAbout {
  border-radius: 40px;
  object-fit: cover;
}*/